.container,
.small {
  max-width: 600px;
  margin: 30px auto;
}
.card {
  border-radius: 12px;
}
.city {
  padding-top: 20px;
}
.current-temp {
  font-size: 50px;
  padding-top: 11px;
}
.col {
  text-align: center;
}
.card-body {
  padding-bottom: 0;
}
.units {
  padding-left: 4px;
  padding-top: 18px;
}
.emoji {
  font-size: 35px;
}
.temp {
  color: gray;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 25px;
}

.btn-success,
.btn-primary {
  padding: 5px 10px;
}
#date {
  margin-left: 3px;
}
