html,
body {
  background: #d5def5;
}

.container,
.small {
  max-width: 600px;
  margin: 30px auto;
}
.card {
  border-radius: 12px;
}
.city {
  padding-top: 20px;
}
.current-temp {
  font-size: 50px;
  padding-top: 11px;
  color: #895df1;
}
.col {
  text-align: center;
}
.card-body {
  padding-bottom: 0;
}
.units {
  padding-left: 4px;
  padding-top: 18px;
  color: #895df1;
}
.emoji {
  font-size: 35px;
}

.btn-success,
.btn-primary {
  padding: 5px 10px;
}
#date {
  margin-left: 3px;
}

.active,
.active:hover {
  color: black;
  text-decoration: none;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  opacity: 0.6;
}
.temp {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 25px;
  color: #895df1;
}

.min-temp {
  opacity: 0.6;
}
.day {
  text-align: center;
}
